<!DOCTYPE html>
<html ng-app="addCourseApp">
<head>
	<title>Add Course</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script type="text/javascript">
    angular.module('addCourseApp', []).controller('AddCourseController', function($scope, $http) {
      $scope.submit = function() {
        var loc = window.location.origin + '/courses/' + $scope.college + "/" + $scope.deparment + "/search";
        window.location.href = loc;
      };
      $scope.colleges = <%- JSON.stringify(colleges) %>;
      $scope.collegeSelect = function() {
        var loc = window.location.origin + '/college/' + $scope.college + "/departments";
        $http.get(loc).then(function(data) {
          $scope.departments = data.data.departments;
          console.log($scope.departments);
        }, function(error) {
          $scope.departments = [];
        });
      };
    });
  </script>
</head>
<body ng-controller="AddCourseController">
	<div class="container">
		<br>
		<h1>Search Courses</h1>
		<br>
		<div class="search-frm">
      <div class="form-group"> 
          <label for"collegeField">College</label>
          <select class="form-control" id="collegeField" placeholder="College" ng-model="college" ng-change="collegeSelect()">
            <option ng-repeat="college in colleges" ng-value="college.cllge_id">{{ college.cllge_nm }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for"departmentField">Department</label>
          <select class="form-control" id="departmentField" ng-model="department" placeholder="Department">
            <option ng-repeat="department in departments" ng-value="department.dept_id">{{ department.dept_nm }}</option>
          </select>
        </div>
        <button id="submitButton" class="btn btn-primary" ng-click="submit()">Search</button>  
    </div>
	</div>

</body>
</html>