<!DOCTYPE html>
<html ng-app="addCourseApp">
<head>
	<title>Add User</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
  crossorigin="anonymous">
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script type="text/javascript">
    angular.module('addCourseApp', []).controller('AddCourseController', function($scope, $http) {
      $scope.submit = function() {
        console.log($scope.type_id);
        var user = {
          first_nm: $scope.fname,
          last_nm: $scope.lname,
          scrn_nm: $scope.sname,
          pass_wd: $scope.pass_wd,
          email_id: $scope.email,
          type_id: $scope.type_id
        };
        $http.post(window.location.href, user).then(function success(response) {
          window.location.href = window.location.origin + '/index';
        }, function error(response) {

        });
      };
      $scope.options = [
        {id: 1, desc: 'Administrator'},
        {id: 2, desc: 'Professor'},
        {id: 3, desc: 'Student'}
      ]
    });
  </script>
</head>
<body ng-controller="AddCourseController">
	<div class="container">
		<br>
		<h1>Add User</h1>
		<br>
		<div class="search-frm">
      <div class="form-group"> 
        <label for"fnameField">First Name</label>
        <input type="text" id="fnameField" class="form-control" ng-model="fname">
      </div>
      <div class="form-group"> 
        <label for"lnameField">Last Name</label>
        <input type="text" id="lnameField" class="form-control" ng-model="lname">
      </div>
      <div class="form-group"> 
        <label for"snameField">Screen Name</label>
        <input type="text" id="snameField" class="form-control" ng-model="sname">
      </div>
      <div class="form-group"> 
        <label for"passField">Password</label>
        <input type="password" id="passField" class="form-control" ng-model="pass_wd">
      </div>
      <div class="form-group"> 
        <label for"emailField">Email ID</label>
        <input type="text" id="emailField" class="form-control" ng-model="email">
      </div>
      <div class="form-group"> 
        <label for"typeField">User Type</label>
        <select id="typeField" class="form-control" ng-model="type_id">
          <option ng-repeat="option in options" ng-value="option.id">{{option.desc}}</option>
        </select>
      </div>
      <button id="submitButton" class="btn btn-primary" ng-click="submit()">Add User</button>  
    </div>
	</div>

</body>
</html>