<!DOCTYPE html>
<html>
<head>
	<title>Course Scheduler</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
</head>
<body>
	<div class="container-fluid">
		<br>
		<h1>Dashboard</h1>
		<br>
		<div class="card">
			<h5 class="card-header">Actions</h5>
			<div class="card-body">
				<div class="card-text btn-group-vertical">
					<a href="/addCourse" class="btn btn-primary">Add course</a>
					<a href="/addSection" class="btn btn-primary">Add section</a>
					<a href="/addClassroom" class="btn btn-primary">Add classroom</a>
					<a href="/addUser" class="btn btn-primary">Add user</a>
				</div>

				<div class="card-text btn-group-vertical">
					<a href="/removeCourse" class="btn btn-danger">Remove course</a>
					<a href="/removeSection" class="btn btn-danger">Remove section</a>
					<a href="/removeClassroom" class="btn btn-danger">Remove classroom</a>
					<a href="/removeUser" class="btn btn-danger">Remove user</a>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>